<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="gateway">
      <h2 data-cy="gatewayDetailsHeading"><span>Gateway</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ gateway.id }}</span>
        </dd>
        <dt><span>Serial Number</span></dt>
        <dd>
          <span>{{ gateway.serial_number }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ gateway.name }}</span>
        </dd>
        <dt><span>Ip Address</span></dt>
        <dd>
          <span>{{ gateway.ip_address }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/gateway', gateway.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
