<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span>Welcome Musala</span> reviewer</h1>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
      </div>
    </div>

    <p>This is my gateway and peripherals project Any suggestion will be attended immediately, and observations will be well received</p>
  </div>
</div>
